* {
   background-color: rgb(63, 63, 63);
}

.wrapper {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   height: 50vh;
   width: 75vw;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: center;
  
}

a, a:visited {
   color: rgb(0, 0, 0);
   text-decoration: none;
}

h1 {
   color: rgb(0, 0, 0);
   font-size: 3rem;
   font-family: 'DotGothic16', sans-serif;
  
}

.connectButton, .highscorebtn {
   font-family: 'DotGothic16', sans-serif;
   font-size: 2rem;
   padding: 5px;
   margin: 10px;
   color: rgb(0, 0, 0);
}


#defaultCanvas0 {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border: 1px rgb(0, 0, 0) solid;
}

.paddle {
   position: absolute;
   width: 45vw;
   left: 50%;
   transform: translateX(-50%);
   top: 75vh;
}

.intro {
   font-family: 'DotGothic16', sans-serif;
   display: block;
   font-size: 1rem;
   padding: 5px;
   margin: auto;
   text-align: center;
   color: rgb(0, 0, 0);
}